doctype html
html
  head
    title= title
    link(rel="stylesheet", href="stylesheets/normailze.css")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    main
      nav
        a(href="/boards/new") New board
      #page
        block content
    script(src="/javascripts/vendor/all.js")
    
