doctype html
html
  head
    title= title
    link(rel="stylesheet", href="stylesheets/normailze.css")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    main
      nav
      #page
        block content
    script(src="/javascripts/vendor/all.js")
    script(src="/javascripts/handlebars_templates.js")
    script(src="/javascripts/app.js")
    script(src="/javascripts/models/photo.js")
    script(src="/javascripts/collections/photos.js")
    script(src="/javascripts/views/app_view.js")
    script(src="/javascripts/views/photos_new.js")
    script(src="/javascripts/views/tags_index.js")
    script(src="/javascripts/views/tags_show.js")
    script(src="/javascripts/views/nav.js")
    script(src="/javascripts/views/photo_preview.js")
    script(src="/javascripts/views/photos_show.js")
    script(src="/javascripts/views/photos_edit.js")
    script(src="/javascripts/views/index.js")
    script(src="/javascripts/views/login.js")
    script(src="/javascripts/views/register.js")
    script(src="/javascripts/routers/router.js")
    script(src="/javascripts/main.js")
