<h1>New Board</h1>
  <div class="form_photos_new">
    <label for="title_input">
      Name
    </label>
    <input type="text" name="name" id="name_input" />


    <a id="create_board">Create Board</a>
  </div>